.container {
  background-color: cornflowerblue;
  color: black;
  width: 10%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.checkbox {
  margin:auto;
  text-align: center;
  padding: 10px;
}

.users {
  background-color: cornflowerblue;
  color: black;
 margin: 10px auto auto ;
  width: 70%;
  padding: 10px;
  text-align: center;
}